* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.Main-top {
  padding-top: 20px;
  padding-bottom: 20px;
  background: #5f8661;
}

.container{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding-top: 50px;
  padding-bottom: 50px;
  gap: 50px;
}

.container div{
  width: 600px;
  height: 400px;
  background-size: cover;
  background-position: center;
  position: relative;
  overflow: hidden;
}

.container div:hover {
  cursor: pointer;
  bottom: 10px;
}

.text-box{
  position: absolute;
  top: 60%;
  background: rgba(255, 255, 255, 0.795);
  position: absolute;
  font-size: 1rem;
  text-align: center;
}

.text-box p {
  position: absolute;
  top: 5%;
  left: 5%;
  font-weight: bold;
  font-size: 1.8rem;
}


.notice-card {
  background-image: url('../../public/image/Creation_of_Adam.jpg');
}

.submission-card {
  background-image: url('../../public/image/jams.jpg');
}

.guideline-card {
  background-image: url('../../public/image/sagyeong.jpg');
}

.formatting-card {
  background-image: url('../../public/image/scriptor.jpg');
}