.TermsPage {
  padding: 50px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.TermsPage h3 {
  border-bottom: 1px solid lightslategray;
  padding-bottom: 2rem;
}

.Terms-content {
  padding-top: 2rem;
  font-size: 1.2rem;
  line-height: 2;
  color: #333;
  align-self: flex-start;
  width: 100%;
}


.Terms-content h4 {
  margin-bottom: 1.2rem;
  font-weight: bold;
  text-decoration: underline lightslategray;
}