.list-detail-container {
  /* display: none;
  padding: 1rem;
  background: #f9f9f9;
  border-top: 1px solid #ddd; */
  display: none;
  margin: 0;
  background: rgba(187, 209, 150, 0.534);
  border-top: 1px solid #ddd;
}

.list-detail-container.show {
  display: flex;
  font-size: 1rem;
  gap: 3rem;
  padding-top: 1rem;
  /* gap: 110px; */
  padding-left: 17.8rem;
}

.category-section {
  margin-bottom: 1.5rem;
}

.category-section ul {
  list-style: none;
  text-align: center;
  color: rgb(100, 100, 100);
  line-height: 1.8;
}


.category-section li:hover {
  color: darkolivegreen;
  font-weight: bolder;
  cursor: pointer;
}

