.board-container {
  /* max-width: 900px; */
  padding: 50px;
  box-sizing: border-box;
}

.board-container h3 {
  border-bottom: 1px solid lightslategray;
  padding-bottom: 2rem;
}

.board-container button{
  display: block;
  margin-left: auto;
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 1rem;
}

.board-container button:hover{
  background-color: #0056b3;
}

.board-posts {
  width: 100%;
  /* border-collapse: collapse; */
  margin-top: 30px;
  margin-bottom: 2rem;
}

.board-posts thead {
  background-color: #f5f5f5;
  font-size: 1.2rem;
  font-weight: bold;
}

.board-posts th, td{
  border: 1px solid #ddd;
  padding: 1rem;
  text-align: center;
}

.board-posts tbody {
  font-size: larger;
}

.board-detail {
  margin: 50px;
  padding: 30px;
  box-sizing: border-box;
  border: 2px solid rgb(63, 63, 63);
}

.board-detail h4 {
  border-bottom: 1px solid lightslategray;
  background-color: #f5f5f5;
  padding-bottom: 2rem;
}

.board-detail-top {
  border-bottom: 1px solid lightslategray;
  padding: 1rem;
  font-size: 1.3rem;
}

.board-detail-content {
  padding: 1rem;
  font-size: 1.3rem;
  border-bottom: 1px solid lightslategray;
  min-height: 500px;
}

.board-detail button {
  display: block;
  margin: auto;
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #646464;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 1rem;
}